h1,
p {
  font-family: Lato;
}

.btn-light:focus,
.btn-light:active,
.btn-dark:focus,
.btn-dark:active,
.btn-dark:active:focus,
.btn-light:active:focus {
  box-shadow: 0 !important;
}

.fixed-top {
  position: fixed;
  top: 50%;
  right: 0;
  left: calc(100% - 42px);
  z-index: 1030;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
